* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
::-moz-selection {
  background: #127475;
  color: #fafafa;
  text-shadow: none;
}
::selection {
  background: #127475;
  color: #fafafa;
  text-shadow: none;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
html {
  overflow: scroll;
  overflow-x: hidden;
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  transition: all 0.5s ease;
}
p {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.pixelArt {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  image-rendering: -webkit-optimize-contrast;
}

.subheading {
  width: 80%;
  margin-top: 7rem;
  margin-left: 8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 200%;
}